* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
/* header styles */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
}
.header-title {
    margin: 25px;
    padding: 0px 125px 0px 900px;
    text-align: right;
    justify-content: center;
    
}
.title {
    font-size: 45px;
    color: white;
    margin-bottom: 25px;
}
.btn-contact {
    width: 85px;
    height: 35px;
    margin-top: 25px;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    color: #0873ff;
    font-weight: 700px;
}
/* failures styles */
.failures {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 165px;
    width: 1075;
    height: 725px;
}
.failures-title {
    text-align: left;
    margin-left: 45px;
}
.failures-heading {
    margin-bottom: 15px;
    font-size: 65px;
    font-weight: 700px;
}
.failures-list {
    margin-top: 15px;
}
/* plans styles */

.my-plans {
    text-align: center;
    font-weight: 600px;
    margin-bottom: 25px;
}
.plans-items {
    display: flex;
    justify-content: space-evenly;
}
/* color gradient styles */

.color-gradient .gradient {
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    opacity: 1.6;
    height: 300px;
    width: 900px;
    margin: 20px 150px 0;
    border-style: none;
    border-radius: 10px;
}
.positioning {
    position: absolute;
    top: 2250px; left: 230px;
    font-weight: 700;
    font-size: 25px;
    color: white;
}
/* .mindset {
    display: flex;
    padding-left: 65px;
    margin-bottom: 110;
    color:white */
/* } */
/* position: absolute;
top: 40px; left: 40px; */